div.h-100(*ngIf="loaded")
	app-toolbar
	.py-5.minh-100
		.container.clearfix
			form([formGroup]="clientApplicationForm")
				h1.display-4.mb-2 Fill out your proposal
				p.lead We will contact you as soon as possible.
				hr
				h2 Your company
				br
				.row
					.col
						.form-group
							label Name
							input.form-control(type='text', placeholder='Company Name', formControlName="name", required)
							.has-error.mt-1(*ngIf='clientApplicationForm.controls.name.invalid && !clientApplicationForm.controls.name.pristine') This field is required.
						.form-group
							label Facebook Page
							input.form-control(type='text', placeholder='https://www.facebok.com/...', formControlName="facebook")
				hr
				br
				h2 Contact Information
				br
				.row
					.col
						.form-group
							label Email address
							input.form-control(type='email', email, placeholder='example@example.com', formControlName="email", required)
							.has-error.mt-1(*ngIf='clientApplicationForm.controls.email.invalid && !clientApplicationForm.controls.email.pristine') Invalid email provided.
						.form-group
							label Address (optional)
							input.form-control(type='text', placeholder='445 Mount Eden Road, Auckland', formControlName="address")
						.form-group
							label Phone number (optional)
							input.form-control(type='tel', placeholder='0109751xxxx', formControlName="phoneNumber")
				hr
				br
				h2 Package
				br
				.row.no-gutters
					.col-12.col-md-6.col-lg-3.btn-group-toggle
						label.border-lt-md-bottom-0.border-md-right-0.mb-0.w-100.btn.btn-outline-dashboard.shadow-none([ngClass]="{'active': clientApplication.package == Package.Light }") Light
							input(type='radio', formControlName="package", [value]="Package.Light", (change)="onPackageChanged()")
					.col-12.col-md-6.col-lg-3.btn-group-toggle
						label.border-lt-md-bottom-0.border-gt-lg-x-0.mb-0.w-100.btn.btn-outline-dashboard.shadow-none([ngClass]="{'active': clientApplication.package == Package.Pro }") Pro
							input(type='radio', formControlName="package", [value]="Package.Pro", (change)="onPackageChanged()")
					.col-12.col-md-6.col-lg-3.btn-group-toggle
						label.border-lt-sm-bottom-0.border-md-right-0.border-gt-lg-right-0.mb-0.w-100.btn.btn-outline-dashboard.shadow-none([ngClass]="{'active': clientApplication.package == Package.Enterprise }") Enterprise
							input(type='radio', formControlName="package", [value]="Package.Enterprise", (change)="onPackageChanged()")
					.col-12.col-md-6.col-lg-3.btn-group-toggle
						label.mb-0.w-100.btn.btn-outline-dashboard.shadow-none([ngClass]="{'active': clientApplication.package == Package.Custom }") Custom
							input(type='radio', formControlName="package", [value]="Package.Custom", (change)="onPackageChanged()")
				br
				p.lead.text-danger.f-heavy(*ngIf="clientApplication.package == Package.Custom") Custom packges discounts are determined after evaluation.
				br
				h2 Media
				br
				.row
					.col-12.col-lg-6
						label Posts per month ({{clientApplication.postsPerMonth}})
						.form-group.range-field
							label.range-min 0
							input((change)="onMediaChanged()", type='range', min='0' max='120', formControlName="postsPerMonth")
							label.range-max 120
						label Photography ({{clientApplication.photography}})
						.form-group.range-field
							label.range-min 0
							input((change)="onMediaChanged(true)", type="range", min="0" max="100" step="5", formControlName="photography")
							label.range-max 100
						label Gifs ({{clientApplication.gifs}})
						.form-group.range-field
							label.range-min 0
							input((change)="onMediaChanged()", type="range", min="0", max="10", formControlName="gifs")
							label.range-max 10
					.col-12.col-lg-6
						label Videos ({{clientApplication.videos}})
						.form-group.range-field
							label.range-min 0
							input((change)="onMediaChanged()", type="range", min="0" max="3", formControlName="videos")
							label.range-max 3
						label Minutes per video ({{clientApplication.videoMinutesCount}})
						.form-group.range-field
							label.range-min 1
							input((change)="onMediaChanged(true)", type="range", min="1" max="5", formControlName="videoMinutesCount")
							label.range-max 5
				br
				h2 Deal Duration ({{clientApplication.dealMonths}} months)
				br
				.form-group.range-field
					label.range-min 1
					input((change)="onDealMonthsChanged()", type='range', min='1', max='120', formControlName="dealMonths")
					label.range-max 120
				br
				h2 Coupon
					i.fa.fa-spin.fa-cog.ml-2(*ngIf="couponLoading")
					span.text-danger.ml-2(*ngIf="activeCoupon") {{activeCoupon|coupon}}
				br
				.form-group
					input.form-control.form-control-lg(placeholder="4567489", type='text', formControlName="coupon", (change)="onCouponChanged()")
					.has-error.mt-1(*ngIf='couponInvalid && coupon') Invalid coupon.
				br
				hr
				h2 Website
				p.lead.text-danger.f-heavy(*ngIf="clientApplication.website") Website prices are discussed privately.
				br
				.row
					.col-12.col-lg-6
						label Do you want a website?
						br
						.d-block
							.form-check.d-inline-block
								input.form-check-input#website-rd-yes(type='radio', [value]="true", formControlName="website")
								label.form-check-label(for='website-rd-yes') Yes
							.form-check.d-inline-block.mx-3
								input.form-check-input#website-rd-no(type='radio', [value]="false", formControlName="website")
								label.form-check-label(for='website-rd-no') No
						br
				.row([hidden]="!clientApplication.website")
					.col-12
						label Do you own a host?
						br
						.d-block
							.form-check.d-inline-block
								input.form-check-input#host-rd-yes(type='radio', [value]="true", formControlName="hasHost")
								label.form-check-label(for='host-rd-yes') Yes
							.form-check.d-inline-block.mx-3
								input.form-check-input#host-rd-no(type='radio', [value]="false", formControlName="hasHost")
								label.form-check-label(for='host-rd-no') No
						br
				.row([hidden]="!clientApplication.website")
					.col-12
						label Do you own a domain?
						br
						.d-block
							.form-check.d-inline-block
								input.form-check-input#domain-rd-yes(type='radio', [value]="true", formControlName="hasDomain")
								label.form-check-label(for='domain-rd-yes') Yes
							.form-check.d-inline-block.mx-3
								input.form-check-input#domain-rd-no(type='radio', [value]="false", formControlName="hasDomain")
								label.form-check-label(for='domain-rd-no') No
						br
				br
				hr
				h3.text-right Price per month: {{pricePerMonth}} EGP				
				h3.text-right(*ngIf="discount") Discount: {{-discount}} EGP
				h3.text-right.text-danger#beforeDiscount(*ngIf="discount") Total price: {{clientApplication.totalPrice + discount}} EGP
				h3.text-right Total price: {{clientApplication.totalPrice}} EGP
				hr
				.row
					.col-12.col-lg-4.offset-lg-8
						button.w-100.btn.btn-coffee.btn.ml-auto.mt-1(type='button', (click)="send()", [disabled]="couponLoading") Send
	app-footer

ng-template(#failed, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title Submission Failed
	.modal-body
		p.lead An error ocurred prevented application from being submit.
	.modal-footer
		button.btn.btn-coffee(type='button', (click)="dismiss()") OK

ng-template(#successful, let-close='close', let-dismiss='dismiss')
	.modal-header
		h3.modal-title Submission Successful
	.modal-body
		p.lead Successfully submitted application.
	.modal-footer
		button.btn.btn-coffee(type='button',, (click)="dismiss()") OK